.header {
  height: 100px;
  background-color: hotpink;
  line-height: 100px;
}

.logo {
  display: inline-block;
  margin: 0 10px 0 0;
}

.nav-item {
  text-decoration: underline;
  margin: 0 10px;
}
